*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    outline: none;
    resize: none;
}


$colorBlack:#1E1E24;
$colorRed  :#92140C;
$colorBlue :#111D4A;
$colorViolet:#462255;
$colorFont :#FCFCFC;






body{
    background-color: $colorBlack;
}